<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<table>
        <thead>
            <th style="color: orange;">Titulo</th>
            <th style="color: orange;">Autor</th>
            <th style="color: orange;">ISBN</th>
            <th style="color: orange;">Categoria</th>
            <th style="color: orange;">Fecha de ingreso</th>
        </thead>
         <th:block th:each="libro, row: ${libros}">
         
          <tr>
                <th th:text="${libro.s_titulo}"></th>
                <th th:text="${libro.s_autor}"></th>
                <th th:text="${libro.s_isbn}"></th>
                <th th:text="${libro.categoria.s_categoria}"></th>
                <th th:text="${libro.f_ingreso}"></th>
            </tr>

        </th:block>
    </table>    
    
    <a href="/index">Regresar a inicio</a>
</body>
</html>